In [20]:
import pandas as pd
import os
import pandas as pd

pd.set_option('display.width', 500) # Set display width to 500, so that we can see the full table

In [3]:
# Specify the folder path containing your CSV files
folder_path = './'

# Initialize an empty dictionary to store DataFrames
dfs = {}

# Loop through files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):  # Check if the file is a CSV file
        file_path = os.path.join(folder_path, filename)  # Get the full file path
        # Read the CSV file into a DataFrame and store it in the dictionary
        df_name = os.path.splitext(filename)[0]  # Use the filename (without extension) as the DataFrame name
        dfs[df_name] = pd.read_csv(file_path)

dfs.keys()  # Check the dictionary keys

dict_keys(['US_CPI', 'US_10Y_treasury_yield', 'US_PMI', 'US_2Y_treasury_yield', 'US_3-month_T-bill_yield', 'Russell_2000', 'Russell_1000'])

In [16]:
# access to US_CPI
dfs['US_2Y_treasury_yield']

             DATE   DGS2
0      1976-06-01  7.260
1      1976-06-02  7.230
2      1976-06-03  7.220
3      1976-06-04  7.120
4      1976-06-07  7.090
...           ...    ...
12343  2023-09-22   5.10
12344  2023-09-25   5.09
12345  2023-09-26   5.04
12346  2023-09-27   5.10
12347  2023-09-28   5.04

[12348 rows x 2 columns]

In [27]:
for df_name, df in dfs.items():
    print("DataFrame Name:", df_name)
    print(df.head())

DataFrame Name: US_CPI
         DATE  CPIAUCSL
0  1947-01-01     21.48
1  1947-02-01     21.62
2  1947-03-01     22.00
3  1947-04-01     22.00
4  1947-05-01     21.95
DataFrame Name: US_10Y_treasury_yield
         DATE DGS10
0  1962-01-02  4.06
1  1962-01-03  4.03
2  1962-01-04  3.99
3  1962-01-05  4.02
4  1962-01-08  4.03
DataFrame Name: US_PMI
         DATE PCUOMFGOMFG
0  1984-12-01       100.0
1  1985-01-01           .
2  1985-02-01           .
3  1985-03-01           .
4  1985-04-01           .
DataFrame Name: US_2Y_treasury_yield
         DATE   DGS2
0  1976-06-01  7.260
1  1976-06-02  7.230
2  1976-06-03  7.220
3  1976-06-04  7.120
4  1976-06-07  7.090
DataFrame Name: US_3-month_T-bill_yield
         DATE DGS3MO
0  1981-09-01  17.01
1  1981-09-02  16.65
2  1981-09-03  16.96
3  1981-09-04  16.64
4  1981-09-07      .
DataFrame Name: Russell_2000
         Date        Open        High         Low       Close   Adj Close     Volume
0  1987-09-10  167.440002  168.979996  167.440002  168.970001  168.970001  179800000
1  1987-09-11  168.970001  170.539993  168.750000  170.539993  170.539993  178000000
2  1987-09-14  170.529999  170.949997  170.149994  170.429993  170.429993  154400000
3  1987-09-15  170.419998  170.440002  169.130005  169.199997  169.199997  136200000
4  1987-09-16  169.309998  170.029999  168.820007  168.919998  168.919998  195700000
DataFrame Name: Russell_1000
         Date        Open        High         Low       Close   Adj Close  Volume
0  1992-12-10  232.500000  232.500000  231.009995  231.929993  231.929993     0.0
1  1992-12-11  231.929993  231.929993  231.279999  231.520004  231.520004     0.0
2  1992-12-14  231.520004  232.199997  231.070007  231.070007  231.070007     0.0
3  1992-12-15  231.070007  231.270004  230.460007  230.860001  230.860001     0.0
4  1992-12-16  230.860001  231.570007  229.850006  230.169998  230.169998     0.0

In [4]:
# merge all dataframes according to date
df = pd.concat(dfs.values(), ignore_index=True)
df

,DATE,CPIAUCSL,DGS10,PCUOMFGOMFG,DGS2,DGS3MO,Date,Open,High,Low,Close,Adj Close,Volume
0,1947-01-01,21.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1947-02-01,21.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1947-03-01,22.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1947-04-01,22.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1947-05-01,21.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57657,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-25,2360.560059,2375.540039,2356.360107,2375.070068,2375.070068,0.0
57658,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-26,2364.139893,2364.139893,2336.800049,2340.419922,2340.419922,0.0
57659,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-27,2345.870117,2351.469971,2323.300049,2342.610107,2342.610107,0.0
57660,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-28,2340.219971,2366.540039,2337.550049,2357.209961,2357.209961,0.0
57661,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-29,2369.800049,2375.879883,2344.899902,2351.350098,2351.350098,0.0